@font-face {
  font-family: 'webchef';
  src: font-url('webchef/webchef.eot');
  src: font-url('webchef/webchef.eot?#iefix') format('embedded-opentype'),
    inline-font-files('webchef/webchef.woff', 'woff'),
    font-url('webchef/webchef.ttf') format('truetype'),
    font-url('webchef/webchef.svg#webchef') format('svg');
  font-weight: normal;
  font-style: normal;
}
