/*********************************************
 * TABLES
 *********************************************/

table.comparison {
	margin: 1em auto;
	font-size: 1.6em;
}
table.comparison tr td {
	width: 5em;
	padding: .4em;
}
table.comparison tr td:nth-child(1) {
	text-align: right;
	padding-right: 1em;
}
table.comparison tr td:nth-child(2) {
	text-align: left;
	padding-left: 1em;
}
