


/*
 * Custom background images
 */

.state-background {
  .fingerprint-pre &,
  .medal-pre & {
    background-position: 1800px -1500px;
  }

  .fingerprint & {
    background: #fff url('../../img/fingerprint.jpg') no-repeat 28em -16em;
    opacity: .25;
  }

  .bronze & {
    background: #fff url('../../img/medal-bronze.png') no-repeat 26em -1em;
  }

  .silver &  {
    background: #fff url('../../img/medal-silver.png') no-repeat 26em -1em;
  }

  .gold & {
    background: #fff url('../../img/medal-gold.png') no-repeat 26em -1em;
  }
}
