
/*********************************************
 * Advanced-RWD Styles
 *********************************************/

.reveal .fragment code {
  color: #666;
}

.reveal ul.naked li {
  list-style-type: none;
}


details {
  text-align: left;
}

details details {
  width: 90%;
  margin-left: 10%;
}
