////////////////////////
// Base Partials
//
// These files will be shared across all three of your output CSS files. Generally included here are only Compass Extension imports and imports for variables, functions, mixins, and extendables.
//
// Toolkit imports all of Compass, so there is no need to import it separately.
////////////////////////

//////////////////////////////
// Setup Variables
//////////////////////////////
$legacy-support-for-ie6: false;
$legacy-support-for-ie7: false;
$legacy-support-for-ie8: false;
$legacy-support-for-mozilla: false;

//////////////////////////////
// Import Normalize
//////////////////////////////
@import 'normalize';

////////////////////////
// Compass Extensions
////////////////////////
@import 'singularitygs';
@import 'toolkit';
@import 'toolkit/carousel';

////////////////////////
// Private Imports
////////////////////////
@import 'variables';
@import 'functions';
@import 'mixins';
@import 'extendables';