/* WARNING:	Your are using ligatures for your icon font.
			Ligatures are not supported in IE 9 (and older).
			Use the Private Use Area encoding for best browser support.
==================================================================== */
@font-face {
	font-family: 'webchef';
	src:url('fonts/webchef.eot');
	src:url('fonts/webchef.eot?#iefix') format('embedded-opentype'),
		url('fonts/webchef.woff') format('woff'),
		url('fonts/webchef.ttf') format('truetype'),
		url('fonts/webchef.svg#webchef') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'webchef';
	content: attr(data-icon);
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="your-class-prefix"] {
*/
.food, .chef, .martini, .steak, .cupcake {
	font-family: 'webchef';
		speak: none;
	/* Enable Ligatures */
	-webkit-font-feature-settings:"liga","dlig";-moz-font-feature-settings:"liga=1, dlig=1";-moz-font-feature-settings:"liga","dlig";-ms-font-feature-settings:"liga","dlig";-o-font-feature-settings:"liga","dlig";
	font-feature-settings:"liga","dlig";
	text-rendering:optimizeLegibility;
		font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.food:before {
	content: "\6d\65\6e\75";
}
.chef:before {
	content: "\77\65\62\63\68\65\66";
}
.martini:before {
	content: "\64\72\69\6e\6b\73";
}
.steak:before {
	content: "\65\6e\74\72\65\65\73";
}
.cupcake:before {
	content: "\64\65\73\73\65\72\74\73";
}
