////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

$measure-break: 524px;
$menu-break: 700px;

$grids: 2;
$grids: add-grid(4 at $menu-break);
$gutters: .15;