/* ==|== print styles ======================================================= */
/* line 3, ../sass/print.scss */
* {
  background: transparent !important;
  color: black !important;
  text-shadow: none !important;
  filter: none !important;
  -ms-filter: none !important;
}

/* line 4, ../sass/print.scss */
a, a:visited {
  text-decoration: underline;
}

/* line 5, ../sass/print.scss */
a[href]:after {
  content: " (" attr(href) ")";
}

/* line 6, ../sass/print.scss */
abbr[title]:after {
  content: " (" attr(title) ")";
}

/* line 7, ../sass/print.scss */
.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
  content: "";
}

/* line 8, ../sass/print.scss */
pre, blockquote {
  border: 1px solid #999;
  page-break-inside: avoid;
}

/* line 9, ../sass/print.scss */
thead {
  display: table-header-group;
}

/* line 10, ../sass/print.scss */
tr, img {
  page-break-inside: avoid;
}

/* line 11, ../sass/print.scss */
img {
  max-width: 100% !important;
}

@page {
  margin: 0.5cm;
}

/* line 13, ../sass/print.scss */
p, h2, h3 {
  orphans: 3;
  widows: 3;
}

/* line 14, ../sass/print.scss */
h2, h3 {
  page-break-after: avoid;
}
