@import "compass/css3";

//////////////////////////////
// Natural Box Method
//////////////////////////////
* { @include box-sizing(border-box); }

//////////////////////////////
// Variables
//////////////////////////////
$region-min-width: 36.9em;
$region-break: $region-min-width * 2;
$region-left: -1 * $region-min-width / 2;

//////////////////////////////
// Make each item 1/2 total width
//////////////////////////////
.form-wrapper {
  width: 50%;
  float: left;
  
  @media screen and (max-width: $region-break) {
    width: 100%;
  }
  
  @media screen and (max-width: $region-min-width) {
    margin: 0;
    margin-top: $region-min-width / 20;
    left: 0;
    
    .original-image,
    .preview-title {
      display: none;
    }
    .preview-image{
      right: -.375em;
    }
  }
}

.inner-left {
  width: 25%;
  float: left;
  @media screen and (max-width: $region-min-width) {
    width: 50%;
  }
}

.half-float {
  width: 50%;
}

.inner-right {
  width: 75%;
  float: left;
  @media screen and (max-width: $region-min-width) {
    width: 50%;
  }
}