#info {
  text-align: center;

  h3 {
    margin-bottom: 0;
  }

  .hours {

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }

  @include breakpoint(658px) {
    h1 {
      display: none;
    }

    .inner {
      font-size: 1.5em;
    }
  }
}