@import "header";
@import "menu";
@import "info";
@import "about";

.container {
  max-width: 1024px;
  margin: 0 auto;


  @include breakpoint($measure-break) {
    padding: 1em;
  }
}

main {
  width: 100%;
  overflow: hidden;
  position: relative;
  @include clearfix;
}