//////////////////////////////
// Flyout Menu
//////////////////////////////
#menu {
  @include breakpoint('max-width' $measure-break) {
    width: 90vw;

    position: absolute;
    top: .0em;
    right: -90vw;
    z-index: 3;

    @include single-transition(all .5s);

    .open & {
      right: 0;

      @include single-transition(all .5s);
    }

    padding: 0 1em 1em 1em;

    &:before {
      @include box-sizing('content-box');
      height: 1em;
      width: 1em;
      padding: {
        left: .75em;
        right: .5em;
        top: .25em;
        bottom: .25em;
      }
      display: inline-block;
      margin-left: -2.75em;
    }

    .open & {
        &:before {
        padding: .25em;
        margin-left: -1.5em;
      }
    }
  }
}

//////////////////////////////
// Inline Menu
//////////////////////////////
#menu {
  @include breakpoint($measure-break) {
    @include clearfix;

    section {
      clear: both;
    }
  }

  @include breakpoint($measure-break $menu-break) {
    .item:nth-of-type(odd) {
      @include float-span(1);
    }
    .item:nth-of-type(even) {
      @include float-span(1, 'last');
    }
    .item:nth-of-type(3) {
      clear: left;
    }
    .item:nth-of-type(4) {
      clear: right;
    }
  }

  @include breakpoint($menu-break) {
    .item {
      @include float-span(1);
    }
    .item:nth-of-type(4n) {
      @include float-span(1, 'last');
    }
  }

  @include breakpoint(1024px) {
    @include layout(3, .25) {

      @for $i from 1 through 3 {
        section:nth-of-type(#{$i}) {
          @include grid-span(1, $i);
        }
      }

      .item,
      .item:nth-of-type(4n) {
        width: 100%;
        margin: 0;
        clear: both;
      }
    }
  }
}